/* Index */ 
@import url("https:fonts.googlepis.com/css?family=Ruda: 400, 700|Syncopate: 400");

body{
    background-color: #84A873;
}


.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}
.homepage-iteration-3 {
    background-color: #84A873;
    display: flex;
    height: 832px;
    padding: 70px 59px;
    width: 1280px;
}
.background1 {
    align-items: center;
    height: 400px;
    justify-content: center;
    min-width: 1162px;
    padding: 114px 19px;
    margin-top: 30px;
    gap: 66px;
    margin-bottom: 30px;
    margin-left: 80px;
    margin-right: 80px;
}
.homepage-iteration-2 .overlap {
    background-color: #Ffffff;
    display: flex;
}
.flex-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 6px;
    min-height: 403px;
    width: 589px;
}
p.kasandraf {
    color: black;
    font-family: 'Ruda', sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    min-height: 76px;
    width: 507px;
}

.smedia {
    display: inline-block;
}
.socialshome {
    display: inline-block;
    height: 24px;
    margin-left: 624px;
    margin-top: 72px;
    padding-right: 15px;
    width: auto;
}
.empathy-in-every-cl {
    color: black;
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 15px;
    min-height: 156px;
    width: 576px;
}
.primary-nav {
    display: inline-block;
    margin-top: 44px;
    min-width: auto;
}
.primary-nav a{
    align-items: flex-end;
    text-align: center;
    border: 2px solid;
    border-color: #84A873;
    border-radius: 20px;
    height: 48px;
    line-height: 48px;
    justify-content: flex-end;
    margin-left: 20px;
    min-width: 50px;
    padding: 1px 9px;
    color: black;
    text-decoration: none;
}
.link {
    cursor: pointer;
    letter-spacing: 0;
    line-height: normal;
    min-height: 34px;
    width: 93px;
}
.work {
    cursor: pointer;
    letter-spacing: 0;
    line-height: normal;
    min-height: 34px;
    width: 45px;
}
.place {
    cursor: pointer;
    letter-spacing: 0;
    line-height: normal;
    min-height: 34px;
    width: 83px;
}
.kasHEIC {
    height: 450px;
  
    width: auto;
}
.primary-nav a:hover{
    background-color: #84A873;
    color: white;
}

/* About Me */ 
.homepage-iteration-3 {
    background-color: #84A873;
    display: flex;
    height: 832px;
    padding: 70px 59px;
    width: 1280px;
}
.navbar {
    position: absolute;
    top: 50px;
    right: 177px;
}
.navbar a {
    color: black;
    font-family: 'Ruda', sans-serif;
    display: inline-block;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: none;
    margin-right: 40px;
}
.homepage-iteration-3 .overlap {
    background-color: #Ffffff;
    height: 691px;;
    display: flex;
    flex-direction: column;
}

.overlap2{
    background-color: #Ffffff;
    height: 1200px;
}
.background {
    align-items: center;
    
    justify-content: center;
    min-width: 1162px;
    padding: 114px 19px;
    margin-top: 20px;
}
.title {
    color: black;
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    display: flex;
    line-height: normal;
    white-space: nowrap;
    padding-left: 30px;
}
.aboutme {
    color: black;
    font-family: 'Ruda', sans-serif;
    
    letter-spacing: 0;
    text-align: left;
    padding-left: 30px;
}
.ellipse-1 {
    background-color: #46905b;
    border-radius: 8px/6.5px;
    padding-left: 10px;
    margin-top: 23px;
    height: 13px;
    display: flex;
    width: 16px;
}
.titlecontainers {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    padding-bottom: 40px;
}

.smediac {
    display: inline-block;
    height: 24px;
    margin-left: 960px;
    right: 50px;
}
.socialc {
    display: inline-block;
    height: 24px;
    margin-top: 152px;
    padding-right: 15px;
    width: auto;
}
.card-text {
    color: black;
    font-family: 'Ruda', sans-serif;
}
.MySkills {
    color: black;
    font-family: 'Ruda', sans-serif;
    float: left;
    margin-bottom: 54px;
    align-self: flex-start;
    margin-left: 25px;
    margin-top: 40px;
}
.User {
    padding-bottom: 2s5px;
}


/* Work */ 
.socials {
    display: inline-block;
    height: 24px;
    margin-left: 13px;
    margin-top: 40px;
    padding-right: 15px;
    width: auto;
}
.titlecontainer {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    margin-left: 50px;
    position: relative;
}
.projectContainer{
    display: flex;
}

.project1 {
align-items: center;
letter-spacing: 0;
line-height: normal;
margin-left: 112px;
margin-top: 10px;
min-height: 53px;
width: 240px;
}
.Gourmade {
    height: 287px;
    left: 726px;
    width: 391px;
    object-fit: cover;
    gap: 80px;
    text-decoration: none;
}
.grdc2-1 {
    height: 287px;
    left: 726px;
    object-fit: cover;
    top: 44px;
    width: 391px;
    border: 2px solid;
    border-color: black;
    text-decoration: none;
}
.rectangle-11 {
    background-color: #Ffffff;
    border: 2px solid;
    border-color: black;
    left: 0;
    position: absolute;
    top: 0;
}
.portfolio .rectangle {
    cursor: pointer;
    height: 376px;
    width: 398px;
}

.projectContainer h2{
    color: olivedrab;
}
.smedia {
    display: inline-block;
    height: 24px;
    padding-right: 15px;
    width: auto;
    right: 50px;
}
.ProtoPersona {
    align-items: center;
}
.GirlsRock {
    align-items: center;
}
.UserPersona1 {
    align-items: center;
}
.UserPersona2 {
    align-items: center;
}
.ValueProp {
    align-items: center;
}
.UserSc {
    align-items: center;
}
.Storybaord {
    align-items: center;
}
.Sitekey {
    align-items: center;
}
.grcs {
    align-items: center;
    color: black;
    font-family: 'Ruda', sans-serif;

}
/* Contact */ 
.titlecontain {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    margin-top: -79px;
    position: relative;
}
.conactcontainer {
    margin-top: 20px;
}
.name {
    font-family: 'Ruda', sans-serif;
}
.email {
    font-family: 'Ruda', sans-serif;
}
.message {
    height: 35px;
}
input[type=text], select {
    font-family: 'Ruda', sans-serif;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    width: 100%;
  }
  
  input[type=submit] {
    font-family: 'Ruda', sans-serif;
    width: 100%;
    background-color: #46905b;
    color: #B4D3A6;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;  
  }
  
  input[type=submit]:hover {
    font-family: 'Ruda', sans-serif;
    background-color: #AFD69D;
    color: white
  }

  input[type=submit]:active:focus {
    background-color: #AFD69D;
    color: white
  }

  .btn-primary:active:focus{
    background-color: #AFD69D;
    color: white;
    border-color: white;
  }

  

/* Gourmade */ 
.GourmadeCS {
    display: flex;
    flex-direction: column;
    font-family: 'Ruda', sans-serif;
    color: black;
    margin-left: 25px;
    margin-right: 40px;
}

.textGourmade{
   margin-top: 50px;
   display: flex;
   flex-direction: column;
}

.backgroundGourmade{

    padding-top: 50px;
    margin-top: 20px;
}
.back-top {
    padding: 30px;
}
.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    Left: 0;
    z-index: 1030;
}
.back-top img {
    transform: rotate(180deg);
}

.myAccordion{
    display:flex;
    flex-direction: column;
}
h12 {
    font-size: 40px;
}
h13 {
    font-size: 40px;
}
h14 {
    font-size: 40px;
}
.GourM {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Affinity {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Empathy {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ILike {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.FeatureP {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Storyboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.UJM {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.UserFlow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.INTVW {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.INTVWF {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.KeyIterated {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.GourmadeCS img{
    display: flex;
    align-self: center;
}
.GourmadeCS p {
    font-size: 16px;
}



/* Test */
.overlap2{
    background-color: #Ffffff;
    height: 9400px; 
}
.cardcontainer {
    display:flex;
    margin-top: 50px;
    flex-direction: row;
}
.card {
    font-family: 'Ruda', sans-serif;
    background-color: white;
    align-items: center;
    margin-right: 10px;
}
.btn-primary {
    font-family: 'Ruda', sans-serif;
    border-radius: 20px;
    background-color: #46905b;
    border-color: #ccc;
    color: white;
}
.btn-primary:hover{
    background-color: #84A873;
    color: white;
    border-color: #ccc;;
}
.card-body {
    text-align: center;
}

.accordion {
    color: black;
}
.accordion-header {
    color: black;
}
.accordion-button {
        color: black;
}


.carousel-caption {
    font-family: 'Ruda', sans-serif;
    color: black;
    border-color: #46905b;
 }
  

/* GirlsRockDC */ 
.casestudy {
    justify-content: left;
    letter-spacing: 0;
    font-family: 'Ruda', sans-serif;
    
    margin-left: 80px;
    display: flex;
    flex-direction: column;
}

.backgroundGRDC{

    padding-top: 50px;
    margin-top: 20px;
}
.ProtoPersona {
    justify-content: center;
}
.girlsrock {
    vertical-align: middle;
}
.overlap3{
    background-color: #Ffffff;
    height: 6150px;
    padding-right: 50px;
    
     
}
.smedia1 {
    display: flex;
    justify-content: end;
}
.container {
    display: flex;
    flex-direction: column;
}

.casestudy img{
    display: flex;
    align-self: center;
}
.finalproject {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 40px;
}
h4 {
    font-size: 40px;
}
h5 {
    font-size: 40px;
}
h6 {
    font-size: 40px;
}
h7 {
    font-size: 40px;
}
h8 {
    font-size: 40px;
}
h9 {
    font-size: 40px;
}
h10 {
    font-size: 40px;
}
h11 {
    font-size: 40px;
}
h12 {
    font-size: 40px;
}
.casestudy p {
    font-size: 16px;
}
.wireframes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sitemaps {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.USPersona {
    display: flex;
    flex-direction: row;
    justify-content: center;
}